@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    background-color: #0000003a;
    height: 100vh;
}